## Data Structures

Python includes built-in variables types for a number of fundamental data structures, including lists, tuples, sets, and dictionaries (maps).

### Data Structures: Lists

A *list* is an ordered collection of other variables. These variables can have different types. Lists definitions are enclosed within square brackets [ and ]

In [1]:
mylist = []                         # an empty list
numbers = [12, 108, 21]             # a list of 3 integers
somedata = ["text", 7, 0.34, True]  # a list containing 4 different variables of different types

Values in a list are accessed by specifying the *index* in square brackets - i.e. the position of the value in the list. Note: We always count from 0 in Python, so the first value in a list has index 0.

In [2]:
values = [34, 9, 12, 34]
values[0]

34

We can count from the end of the list backwards by using negative index values. Index -1 is the last value, index -2 is the second last value, and so on.

In [3]:
values[-2]

12

If we try to access a value to an index that is beyond the length of the list, we will get an error message.

In [4]:
values[50]

IndexError: list index out of range

**Nesting**: Lists can also be contained within other lists, which allows the construction of hierarchical data structures.

In [5]:
child1 = [12, 108, 23]
child2 = [99, 4]
child3 = ["a","b","c"]
parent = [ child1, child2, child3 ]
print(parent)

[[12, 108, 23], [99, 4], ['a', 'b', 'c']]

Values in nested lists can be accessed using multiple indexes in square brackets:

In [6]:
parent[0][2]

23

In [7]:
parent[2][1]

'b'

**Slicing**: Lists can also be *sliced* to access subsets of that list. The notation is [i:j], where *i* is the start index inclusive and *j* is the end index exclusive. Remember that we always count from index 0.

In [8]:
fulllist = [9, 12, 23, 18, 21]
fulllist[0:2] # start at 1st item, end before 3rd item

[9, 12]

In [9]:
fulllist[0:3]  # first three items

[9, 12, 23]

When slicing, the default for i is 0, default for j is the end of the string.

In [10]:
fulllist[1:] # all items from the 2nd one onewards

[12, 23, 18, 21]

In [11]:
fulllist[:4] # start at 1st item, end before 5th item

[9, 12, 23, 18]

**Modifiying lists**: Values in a list can be changed after the list is created by specifying the index and performing assignment.

In [12]:
values = [34, 9, 12, 34]
values[2] = 5000
print(values)

[34, 9, 5000, 34]

If we try to assign a value to an index that is beyond the length of the list, we will get an error message.

In [13]:
values[99] = 343

IndexError: list assignment index out of range

Instead, we can add a value to the end of a list using the *append()* function:

In [14]:
values.append("extra")
print(values)

[34, 9, 5000, 34, 'extra']

We can also concatenate two or more lists together using the plus + operator:

In [15]:
values + [11, 27]

[34, 9, 5000, 34, 'extra', 11, 27]

In [16]:
["A","B"] + ["Y","Z"]

['A', 'B', 'Y', 'Z']

**Membership operators**: The special 'in' keyword can be used to test if a value is contained in a list.

In [17]:
mylist = [3,6,9,12]

In [18]:
3 in mylist

True

In [19]:
27 in mylist

False

The logical 'out' operator can be used to test if a value is missing from a list.

In [20]:
27 not in mylist

True

**Related functions:** A variety of built-in functions can be used with lists.

We can check the length of a list using the built-in *len()* function:

In [21]:
len(values)

5

We can sort the items in a list by a calling the *sort()* function on the list. Note that this sorts the list "in place" - i.e. the list itself is modified, rather than copied.

In [22]:
letters = ["b","d","a","c"]
letters.sort()
print(letters)

['a', 'b', 'c', 'd']

### Data Structures: Tuples

Tuples are like lists but are "immutable" - this means that once they are created, they cannot be modified. Tuples are created using parenthesis notation ( and ).

In [25]:
suits = ("hearts", "diamonds", "spades", "clubs")
suits

('hearts', 'diamonds', 'spades', 'clubs')

Values in tuples are also accessed using the same square bracket index notation that we saw for lists.

In [26]:
suits[0]

'hearts'

In [27]:
suits[-1]

'clubs'

Like lists, different types of variables can be contained within the same tuple.

In [30]:
t = (123, True, "UCD", 123.23)
t

(123, True, 'UCD', 123.23)

However, unlike lists, we cannot modify the tuple once it has been defined. If we try to assign a new value to an index in the tuple, we will get an error message.

In [31]:
t[3] = 3435

TypeError: 'tuple' object does not support item assignment

### Data Structures: Sets

Sets are unordered lists which contain no duplicate values. They can be created from lists, strings or any other iterable value, using the *set* function. Sets do not have an order, so we cannot index into them by position.

In [32]:
mylist = [1,3,1,4,3,6,8,1,4,4]
set(mylist)

{1, 3, 4, 6, 8}

In [36]:
list("abcddabcdaacbcc")

['a', 'b', 'c', 'd', 'd', 'a', 'b', 'c', 'd', 'a', 'a', 'c', 'b', 'c', 'c']

The 'in' membership operator also works on sets:

In [ ]:
names = set(['Bill','Lisa','Ted'])

In [ ]:
'Bill' in names

In [ ]:
'Sharon' in names

We can then calculate unions, intersections and differences between pairs of sets.

In [37]:
x = set([1,2,3,4])
y = set([3,4,5])

In [46]:
type(list(y))  # what values are in both x and y?

list

In [39]:
x.union(y)   # what are values are in either x or y, or both?

{1, 2, 3, 4, 5}

In [40]:
x.difference(y)    # what values are in x but not in y?

{1, 2}

In [41]:
y.difference(x)    # what values are in y but not in x?

{5}

We can convert a *set* back to a *list* by calling the built-in *list()* function:

In [42]:
list(x)

[1, 2, 3, 4]

### Data Structures: Dictionaries

A *dictionary* (sometimes called a *map*) is a data structure containing an unordered set of *(key,value)* pairs. Each *key* is linked to a *value*. The keys and values can be any basic Python variable.

Dictionaries can be created using curly bracket notation { }, and can either be initially empty or populated with one or more pairs.

In [47]:
d0 = {}                                        # create an empty dictionary
d1 = {"Ireland":"Dublin", "France":"Paris"}    # create a dictionary containing two pairs 
d2 = {"age": 22, "name": "alice", 100 : False} # create a dictionary containing three pairs

Note that types of keys and values in a dictionary can be mixed

In [55]:
mixedmap = {1:"ucd",0.8:False,"b":10,"c":"d"}

We can access a value in a dictionary by using the square bracket notation and specifying the corresponding key:

In [58]:
mixedmap["c"]

'd'

In [50]:
d2["name"]

'alice'

If we try to access a value for a non-existent key in a dictionary, we will get an error message:

In [51]:
d1["Sweden"]

KeyError: 'Sweden'

To avoid this type of error, check for the presence of a key in a dictionary using the **in** operator:

In [52]:
"Ireland" in d1

True

In [53]:
"Sweden" in d1

False

We can easily add new values to a dictionary using square bracket notation and assignment. If a does not already exist for a given key, it will be added.

In [59]:
d1["Germany"] = "Berlin"
d1

{'France': 'Paris', 'Germany': 'Berlin', 'Ireland': 'Dublin'}

If a value for the key exists, the previous value will be over-written.

In [60]:
d1["Ireland"] = "Galway"
d1

{'France': 'Paris', 'Germany': 'Berlin', 'Ireland': 'Galway'}

Dictionaries have various associated functions to access the keys and/or values.

In [61]:
d1.keys() # get only the keys from a dictionary

dict_keys(['Ireland', 'France', 'Germany'])

In [62]:
d1.values() # get only the values from a dictionary

dict_values(['Galway', 'Paris', 'Berlin'])

In [63]:
d1.items() # get all (key,value) pairs as tuples

dict_items([('Ireland', 'Galway'), ('France', 'Paris'), ('Germany', 'Berlin')])

We can check the number of key-value pairs in a dictionary using the built-in *len()* function:

In [64]:
len(d1)

3