## Lab 10 Tasks - Solution

Step 1. Download the *Diabetes* dataset from the link below, and load the data into a Pandas Data Frame.

http://mlg.ucd.ie/modules/COMP41680/diabetes.csv

The goal of the classification tasks for this dataset is to predict whether a patient will test 'positve' or 'negative' for diabetes, based on 8 numeric features.

In [1]:
import pandas as pd
df = pd.read_csv("http://mlg.ucd.ie/modules/COMP41680/diabetes.csv")
df.head(5)

   preg  plas  pres  skin  insu  mass   pedi  age     class
0     6   148    72    35     0  33.6  0.627   50  positive
1     1    85    66    29     0  26.6  0.351   31  negative
2     8   183    64     0     0  23.3  0.672   32  positive
3     1    89    66    23    94  28.1  0.167   21  negative
4     0   137    40    35   168  43.1  2.288   33  positive

Step 2. Separate the numeric features from the target classs labels.

In [2]:
data = df.iloc[:,0:8]
data.head(5)

   preg  plas  pres  skin  insu  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [3]:
target = df["class"]
target.head(5)

0    positive
1    negative
2    positive
3    negative
4    positive
Name: class, dtype: object

Step 3. Generate a 60/40 random training and test split of the data. Based on this split, evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [4]:
from sklearn.model_selection import train_test_split
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.4)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
for k in [1,3,5]:
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(data_train, target_train)
    print(model)
    predicted = model.predict(data_test)
    acc = accuracy_score(target_test, predicted)
    print("K=%d - Accuracy = %.3f" % (k,acc) )

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')
K=1 - Accuracy = 0.655
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')
K=3 - Accuracy = 0.706
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')
K=5 - Accuracy = 0.723

Step 4. Use 5-fold cross-validation to evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [6]:
from sklearn.model_selection import cross_val_score
import numpy as np
for k in [1,3,5]:
    # create a single classifier
    model = KNeighborsClassifier(n_neighbors=k)
    # apply 5-fold cross-validation, measuring accuracy each time
    acc_scores = cross_val_score(model, data, target, cv=5, scoring="accuracy")
    # get the mean accuracy across 5 folds
    mean_acc = acc_scores.mean()
    print("K=%d - Mean accuracy=%.3f" % (k,mean_acc) )

K=1 - Mean accuracy=0.659
K=3 - Mean accuracy=0.718
K=5 - Mean accuracy=0.712

Step 5. Using the best performing number of nearest neighbours from Step 4, build a KNN model on the entire Diabetes dataset.

Use the model to make positive or negative predictions for the new unseen input data from the link below.

http://mlg.ucd.ie/modules/COMP41680/diabetes-unseen.csv

In [7]:
# create a single classifier on the entire dataset
model = KNeighborsClassifier(n_neighbors=3)
model.fit(data, target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [8]:
unseen = pd.read_csv("http://mlg.ucd.ie/modules/COMP41680/diabetes-unseen.csv")
unseen

   preg  plas  pres  skin  insu  mass   pedi  age
0     6   108    44    20   130  24.0  0.813   35
1     0   101    62     0     0  21.9  0.336   25
2     0    93   100    39    72  43.4  1.021   35
3     0   147    85    54     0  42.8  0.375   24
4     1    89    24    19    25  27.8  0.559   21
5     0    84    82    31   125  38.2  0.233   23
6     0   129   110    46   130  67.1  0.319   26
7     0    93    60     0     0  35.3  0.263   25
8    12    92    62     7   258  27.6  0.926   44
9    13   153    88    37   140  40.6  1.174   39

In [9]:
predicted = model.predict(unseen)
predicted

array(['negative', 'negative', 'negative', 'negative', 'negative',
       'negative', 'positive', 'negative', 'negative', 'positive'], dtype=object)