In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

Replace string NA values with pre-defined na values in python

In [147]:
train_wNA=train.replace('na',np.nan)
test_wNA=test.replace('na',np.nan)
#train_wNA

In [153]:
train_wNA.count()
train_wNA=train_wNA.dropna(how='all')
train_wNA

test.count()
test_wNA=test.dropna(how='all')
test_wNA.shape

(16000, 171)

# Pre-processing at Row-Level

Counting Number of NA values for attributes in each row

In [151]:
train_cnt=train_wNA.isnull().sum(axis=1)
train_cnt=train_cnt.to_frame()

type(train_cnt)
list(train_cnt)
#abcd.columns = ['attr','count']

train_wNA.index.name = 'index_train'
train_cnt.index.name = 'train_cnt_index'

In [154]:
test_cnt=test_wNA.isnull().sum(axis=1)
test_cnt=test_cnt.to_frame()

type(train_cnt)
list(train_cnt)
#abcd.columns = ['attr','count']

test_wNA.index.name = 'index_train'
test_cnt.index.name = 'train_cnt_index'

Resultant final dataframe to be merged to train dataset

In [155]:
final_res_train = pd.DataFrame()
final_res_train["count"]= train_cnt.iloc[:][0]
final_res_train.head()

                 count
train_cnt_index
0                    5
1                   21
2                    8
3                    8
4                    7

In [156]:
final_res_test = pd.DataFrame()
final_res_test["count"]= test_cnt.iloc[:][0]
final_res_test.head()

                 count
train_cnt_index
0                    0
1                    0
2                    0
3                    0
4                    0

Merging the frequency column to training and testing dataset for further filtering

In [157]:
final_train=pd.concat([train_wNA, final_res], axis=1)
#final

#final.groupby('count').count()
final_train = final[(final['count']<80)]
final_train.to_csv('final_train_csv.csv')

In [158]:
final_test=pd.concat([train_wNA, final_res], axis=1)
#final

#final.groupby('count').count()
final_test = final[(final['count']<80)]
final_test.to_csv('final_test_csv.csv')