## Data Collection & Data Formats

### Downloading Data
The built-in Python *urllib.request* module has functions which help in downloading content from HTTP URLs using minimal code.

In [1]:
import urllib.request
url = "http://mlg.ucd.ie/modules/COMP41680/ucd.txt"
response = urllib.request.urlopen(url)
text = response.read().decode()
print(text)

History of UCD

Originally known as the Catholic University of Ireland and subsequently as the Royal University, the university became UCD in 1908 and a constituent college of the National University of Ireland (NUI).

In 1997, UCD became an autonomous university within the loose federal structure of the NUI and UCD students are awarded degrees of the National University of Ireland.

UCD has been a major contributor to the making of modern Ireland. Many UCD students and staff participated in the struggle for Irish independence and the university has produced numerous Irish Presidents and Taoisigh (Prime Ministers) in addition to generations of Irish business, professional, cultural and sporting leaders.

Among UCD’s well-known graduates are authors (Maeve Binchy, Roddy Doyle, Flann O’Brien), actors (Gabriel Byrne, Brendan Gleeson), directors (Neil Jordan, Jim Sheridan) and sports stars such as Irish rugby captain Brian O’Driscoll and former Manchester United and Ireland captain Kevin Moran. Perhaps the best known of all its graduates is the writer James Joyce, who completed his Bachelor of Arts at the university in 1902.

In practice, we may often want to wrap code to fetch URLs in a try block, to handle the case where we cannot access the URL.

In [2]:
url = "http://somemissinglink.ucd.ie/ucd.txt"
try:
    response = urllib.request.urlopen(url)
    text = response.read().decode()
except:
    print("Failed to retrieve %s" % url)

Failed to retrieve http://somemissinglink.ucd.ie/ucd.txt

### Working with CSV

The CSV ("Comma Separated Values") file format is often used to exchange tabular data between different applications, like Excel. Essentially a CSV file is a plain text file where values are split by a comma separator. Alternatively can be tab or space separated. 

We could download a CSV file using *urllib.request* and manually parse it...

In [3]:
# Download the CSV and store as a string
url = "http://mlg.ucd.ie/modules/COMP41680/goal_scorers.csv"
response = urllib.request.urlopen(url)
raw_csv = response.read().decode()
# Parse each line
lines = raw_csv.split("\n")
for l in lines:
    l = l.strip()
    if len(l) > 0:
        # split based on a comma separator
        parts = l.split(",")
        print(parts)

['Player', 'Team', 'Total Goals', 'Penalties', 'Home Goals', 'Away Goals']
['J Vardy', 'Leicester City', '19', '4', '11', '8']
['H Kane', 'Tottenham', '16', '4', '7', '9']
['R Lukaku', 'Everton', '16', '1', '8', '8']
['O Ighalo', 'Watford', '15', '0', '8', '7']
['S Aguero', 'Manchester City', '14', '1', '10', '4']
['R Mahrez', 'Leicester City', '14', '4', '4', '10']
['O Giroud', 'Arsenal', '12', '0', '4', '8']
['D Costa', 'Chelsea', '10', '0', '7', '3']
['J Defoe', 'Sunderland', '10', '0', '3', '7']
['G Wijnaldum', 'Newcastle Utd', '9', '0', '9', '0']
['T Deeney', 'Watford', '8', '5', '2', '6']
['R Barkley', 'Everton', '8', '2', '5', '3']
['A Ayew', 'Swansea City', '8', '0', '5', '3']
['G Sigurdsson', 'Swansea City', '7', '3', '2', '5']
['W Rooney', 'Manchester Utd', '7', '1', '3', '4']
['A Martial', 'Manchester Utd', '7', '0', '4', '3']
['D Alli', 'Tottenham', '7', '0', '1', '6']
['D Payet', 'West Ham Utd', '7', '0', '3', '4']
['M Arnautovic', 'Stoke City', '7', '2', '4', '3']
['Y Toure', 'Manchester City', '7', '0', '3', '4']

But we can also use Pandas to directly download and parse CSV data for us, to create a Data Frame which is ready to analyse.

In [4]:
import pandas as pd
df = pd.read_csv("http://mlg.ucd.ie/modules/COMP41680/goal_scorers.csv")
df

,Player,Team,Total Goals,Penalties,Home Goals,Away Goals
0,J Vardy,Leicester City,19,4,11,8
1,H Kane,Tottenham,16,4,7,9
2,R Lukaku,Everton,16,1,8,8
3,O Ighalo,Watford,15,0,8,7
4,S Aguero,Manchester City,14,1,10,4
5,R Mahrez,Leicester City,14,4,4,10
6,O Giroud,Arsenal,12,0,4,8
7,D Costa,Chelsea,10,0,7,3
8,J Defoe,Sunderland,10,0,3,7
9,G Wijnaldum,Newcastle Utd,9,0,9,0
10,T Deeney,Watford,8,5,2,6
11,R Barkley,Everton,8,2,5,3
12,A Ayew,Swansea City,8,0,5,3
13,G Sigurdsson,Swansea City,7,3,2,5
14,W Rooney,Manchester Utd,7,1,3,4
15,A Martial,Manchester Utd,7,0,4,3
16,D Alli,Tottenham,7,0,1,6
17,D Payet,West Ham Utd,7,0,3,4
18,M Arnautovic,Stoke City,7,2,4,3
19,Y Toure,Manchester City,7,0,3,4

### Working with JSON

[JSON](http://json.org/) is a lightweight format which is becoming increasingly popular for online data exchanged. Based originally on the JavaScript language and (relatively) easy for humans to read and write

The built-in module *json* provides an easy way to encode and decode data in JSON in Python.

In [5]:
import json

Let's try downloading and parsing a simple JSON file which contains information about a number of books, originally from librarything.com:

In [6]:
url = "http://mlg.ucd.ie/modules/COMP41680/books.json"
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")

In [7]:
print(raw_json)

[{
	"book_id": "13585350",
	"title": "The World Treasury of Science Fiction",
	"ISBN": "",
	"year": 1989,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "124205572",
	"title": "The War of the Worlds",
	"ISBN": "1936594056",
	"year": 2013,
	"rating": 4,
	"language": "eng"
}, {
	"book_id": "127360065",
	"title": "Under the Dome: A Novel",
	"ISBN": "1439149038",
	"year": 2013,
	"rating": 2,
	"language": "eng"
}, {
	"book_id": "13908800",
	"title": "The Ultimate Hitchhiker's Guide to the Galaxy",
	"ISBN": "0345453743",
	"year": 2002,
	"rating": 5,
	"language": "eng"
}, {
	"book_id": "123734934",
	"title": "The Time Traveler's Wife",
	"ISBN": "1476764832",
	"year": 2014,
	"rating": 5,
	"language": "eng"
}, {
	"book_id": "13603020",
	"title": "Salem's Lot",
	"ISBN": "0451098277",
	"year": 1976,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "124173974",
	"title": "Republic",
	"ISBN": "039395501X",
	"year": 1985,
	"rating": 3,
	"language": "eng"
}, {
	"book_id": "123102859",
	"title": "The Road",
	"ISBN": "0307387895",
	"year": 2006,
	"rating": 5,
	"language": "eng"
}]

We can now parse the JSON, converting it from a string into a useful Python data structure:

In [8]:
data = json.loads(raw_json)
print(data)

[{'book_id': '13585350', 'title': 'The World Treasury of Science Fiction', 'ISBN': '', 'year': 1989, 'rating': 3, 'language': 'eng'}, {'book_id': '124205572', 'title': 'The War of the Worlds', 'ISBN': '1936594056', 'year': 2013, 'rating': 4, 'language': 'eng'}, {'book_id': '127360065', 'title': 'Under the Dome: A Novel', 'ISBN': '1439149038', 'year': 2013, 'rating': 2, 'language': 'eng'}, {'book_id': '13908800', 'title': "The Ultimate Hitchhiker's Guide to the Galaxy", 'ISBN': '0345453743', 'year': 2002, 'rating': 5, 'language': 'eng'}, {'book_id': '123734934', 'title': "The Time Traveler's Wife", 'ISBN': '1476764832', 'year': 2014, 'rating': 5, 'language': 'eng'}, {'book_id': '13603020', 'title': "Salem's Lot", 'ISBN': '0451098277', 'year': 1976, 'rating': 3, 'language': 'eng'}, {'book_id': '124173974', 'title': 'Republic', 'ISBN': '039395501X', 'year': 1985, 'rating': 3, 'language': 'eng'}, {'book_id': '123102859', 'title': 'The Road', 'ISBN': '0307387895', 'year': 2006, 'rating': 5, 'language': 'eng'}]

We can now iterate through the books in the list and extract the relevant information that we require.

In [10]:
for book in data:
    print(type(book))
    print( "%s = %d" % ( book["title"], book["year"] ) )

<class 'dict'>
The World Treasury of Science Fiction = 1989
<class 'dict'>
The War of the Worlds = 2013
<class 'dict'>
Under the Dome: A Novel = 2013
<class 'dict'>
The Ultimate Hitchhiker's Guide to the Galaxy = 2002
<class 'dict'>
The Time Traveler's Wife = 2014
<class 'dict'>
Salem's Lot = 1976
<class 'dict'>
Republic = 1985
<class 'dict'>
The Road = 2006

### Working with XML

Extensible Markup Language (XML) is a markup language that defines a set of rules for encoding documents in a format which is both human-readable and machine-readable. XML is a widely-adopted format. Python includes several built-in modules for parsing XML data.

The *xml.etree.ElementTree* module can be used to extract data from a simple XML file based on its tree structure.

In [11]:
# download the content
url = "http://mlg.ucd.ie/modules/COMP41680/books.xml"
response = urllib.request.urlopen(url)
raw_xml = response.read().decode()
print(raw_xml)

<?xml version="1.0" encoding="UTF-8"?>
<booklist>
   <book id="13585350">
      <title>The World Treasury of Science Fiction</title>
      <ISBN />
      <year>1989</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="124205572">
      <title>The War of the Worlds</title>
      <ISBN>1936594056</ISBN>
      <year>2013</year>
      <rating>4</rating>
      <language>eng</language>
   </book>
   <book id="127360065">
      <title>Under the Dome: A Novel</title>
      <ISBN>1439149038</ISBN>
      <year>2013</year>
      <rating>2</rating>
      <language>eng</language>
   </book>
   <book id="13908800">
      <title>The Ultimate Hitchhiker's Guide to the Galaxy</title>
      <ISBN>0345453743</ISBN>
      <year>2002</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
   <book id="123734934">
      <title>The Time Traveler's Wife</title>
      <ISBN>1476764832</ISBN>
      <year>2014</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
   <book id="13603020">
      <title>Salem's Lot</title>
      <ISBN>0451098277</ISBN>
      <year>1976</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="124173974">
      <title>Republic</title>
      <ISBN>039395501X</ISBN>
      <year>1985</year>
      <rating>3</rating>
      <language>eng</language>
   </book>
   <book id="123102859">
      <title>The Road</title>
      <ISBN>0307387895</ISBN>
      <year>2006</year>
      <rating>5</rating>
      <language>eng</language>
   </book>
</booklist>

We can use the *xml.etree.ElementTree.fromstring()* function to parse content from a string containing XML data.

In [12]:
import xml.etree.ElementTree
tree = xml.etree.ElementTree.fromstring(raw_xml)

An XML tree has a root node (i.e. the top level of the document), with child nodes at lower levels. We can iterate over these:

In [13]:
for child in tree:
    # get the name of the tag, along with any XML attributes which the tag has
    print( child.tag, child.attrib )

book {'id': '13585350'}
book {'id': '124205572'}
book {'id': '127360065'}
book {'id': '13908800'}
book {'id': '123734934'}
book {'id': '13603020'}
book {'id': '124173974'}
book {'id': '123102859'}

We can also query to find tags with specific names, such as '<book>' and then in turn find child nodes of that tag with a specific name.

In [16]:
for book in tree.findall("book"):
    # get the text inside a <title> tag, contained within a <book> tag
    title = book.find("title").text
    print(title)

The World Treasury of Science Fiction
The War of the Worlds
Under the Dome: A Novel
The Ultimate Hitchhiker's Guide to the Galaxy
The Time Traveler's Wife
Salem's Lot
Republic
The Road

### Working with APIs

#### Example - Wikipedia

As a simple example of using an Online API, we will retrieve JSON data from the Wikipedia web API. The Wikipedia page for 'Belfield' is [here](https://en.wikipedia.org/wiki/Belfield,_Dublin). We can retrieve this data in a cleaner JSON format from the Wikipedia API endpoint (https://en.wikipedia.org/w/api.php).

In [17]:
title = "Belfield,_Dublin"
url = "https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro=true&titles=" + title
print(url)

https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro=true&titles=Belfield,_Dublin

In [19]:
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
print(raw_json)

{"batchcomplete":"","query":{"normalized":[{"from":"Belfield,_Dublin","to":"Belfield, Dublin"}],"pages":{"918146":{"pageid":918146,"ns":0,"title":"Belfield, Dublin","extract":"<p><b>Belfield</b> is a small enclave, not quite a suburb, in D\u00fan Laoghaire\u2013Rathdown, Ireland. It is synonymous with the main campus of University College Dublin.</p>\n<p>Belfield is close to Donnybrook, Ballsbridge, Clonskeagh, Goatstown and Stillorgan and takes its name from Belfield House and Demesne, one of eight properties bought to form the main campus of University College Dublin. It is adjacent to the R138 road.</p>\n<p></p>"}}}}

Once we have downloaded the JSON data into a string, we parse it using the *loads()* function, which will convert it into an actual Python dictionary.

In [20]:
data = json.loads(raw_json)
data

{'batchcomplete': '',
 'query': {'normalized': [{'from': 'Belfield,_Dublin',
    'to': 'Belfield, Dublin'}],
  'pages': {'918146': {'extract': '<p><b>Belfield</b> is a small enclave, not quite a suburb, in Dún Laoghaire–Rathdown, Ireland. It is synonymous with the main campus of University College Dublin.</p>\n<p>Belfield is close to Donnybrook, Ballsbridge, Clonskeagh, Goatstown and Stillorgan and takes its name from Belfield House and Demesne, one of eight properties bought to form the main campus of University College Dublin. It is adjacent to the R138 road.</p>\n<p></p>',
    'ns': 0,
    'pageid': 918146,
    'title': 'Belfield, Dublin'}}}}

The response still needs to be inspected. Note that the results we want are are in *data["query"]["pages"]*:

In [21]:
print(data["query"]["pages"])

{'918146': {'pageid': 918146, 'ns': 0, 'title': 'Belfield, Dublin', 'extract': '<p><b>Belfield</b> is a small enclave, not quite a suburb, in Dún Laoghaire–Rathdown, Ireland. It is synonymous with the main campus of University College Dublin.</p>\n<p>Belfield is close to Donnybrook, Ballsbridge, Clonskeagh, Goatstown and Stillorgan and takes its name from Belfield House and Demesne, one of eight properties bought to form the main campus of University College Dublin. It is adjacent to the R138 road.</p>\n<p></p>'}}

In [22]:
result = data["query"]["pages"]["918146"]
print(result["title"])
print(result["extract"])

Belfield, Dublin
<p><b>Belfield</b> is a small enclave, not quite a suburb, in Dún Laoghaire–Rathdown, Ireland. It is synonymous with the main campus of University College Dublin.</p>
<p>Belfield is close to Donnybrook, Ballsbridge, Clonskeagh, Goatstown and Stillorgan and takes its name from Belfield House and Demesne, one of eight properties bought to form the main campus of University College Dublin. It is adjacent to the R138 road.</p>
<p></p>

#### Example - Currency Exchange Rates

In the next example, we will use the *Fixer.io* API to get currency exchange rate information: http://fixer.io

To retrieve all rates in EUROs, we retrieve the following:

In [23]:
url = "https://api.fixer.io/latest"
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
print(raw_json)

{"base":"EUR","date":"2018-02-23","rates":{"AUD":1.572,"BGN":1.9558,"BRL":3.9875,"CAD":1.5614,"CHF":1.1505,"CNY":7.7914,"CZK":25.337,"DKK":7.4469,"GBP":0.8794,"HKD":9.6219,"HRK":7.4365,"HUF":312.88,"IDR":16820.0,"ILS":4.2918,"INR":79.652,"ISK":123.9,"JPY":131.28,"KRW":1324.4,"MXN":22.838,"MYR":4.8135,"NOK":9.677,"NZD":1.6864,"PHP":63.719,"PLN":4.1698,"RON":4.655,"RUB":69.448,"SEK":10.058,"SGD":1.6254,"THB":38.668,"TRY":4.6575,"USD":1.2299,"ZAR":14.224}}

Parse the JSON data

In [24]:
data = json.loads(raw_json)
# List all the rates
data

{'base': 'EUR',
 'date': '2018-02-23',
 'rates': {'AUD': 1.572,
  'BGN': 1.9558,
  'BRL': 3.9875,
  'CAD': 1.5614,
  'CHF': 1.1505,
  'CNY': 7.7914,
  'CZK': 25.337,
  'DKK': 7.4469,
  'GBP': 0.8794,
  'HKD': 9.6219,
  'HRK': 7.4365,
  'HUF': 312.88,
  'IDR': 16820.0,
  'ILS': 4.2918,
  'INR': 79.652,
  'ISK': 123.9,
  'JPY': 131.28,
  'KRW': 1324.4,
  'MXN': 22.838,
  'MYR': 4.8135,
  'NOK': 9.677,
  'NZD': 1.6864,
  'PHP': 63.719,
  'PLN': 4.1698,
  'RON': 4.655,
  'RUB': 69.448,
  'SEK': 10.058,
  'SGD': 1.6254,
  'THB': 38.668,
  'TRY': 4.6575,
  'USD': 1.2299,
  'ZAR': 14.224}}

In [26]:
# Get a specific rate
data["rates"]["INR"]

79.652

We can change the URL to get rates for a different currency, such as US Dollars (USD):

In [28]:
url = "https://api.fixer.io/latest?base=USD"
# Retrieve the JSON
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
# Parse the JSON
data = json.loads(raw_json)
# Display the rates data for US dollars
data["rates"]

{'AUD': 1.2782,
 'BGN': 1.5902,
 'BRL': 3.2421,
 'CAD': 1.2695,
 'CHF': 0.93544,
 'CNY': 6.335,
 'CZK': 20.601,
 'DKK': 6.0549,
 'EUR': 0.81307,
 'GBP': 0.71502,
 'HKD': 7.8233,
 'HRK': 6.0464,
 'HUF': 254.39,
 'IDR': 13676.0,
 'ILS': 3.4896,
 'INR': 64.763,
 'ISK': 100.74,
 'JPY': 106.74,
 'KRW': 1076.8,
 'MXN': 18.569,
 'MYR': 3.9137,
 'NOK': 7.8681,
 'NZD': 1.3712,
 'PHP': 51.808,
 'PLN': 3.3904,
 'RON': 3.7849,
 'RUB': 56.466,
 'SEK': 8.1779,
 'SGD': 1.3216,
 'THB': 31.44,
 'TRY': 3.7869,
 'ZAR': 11.565}

In [29]:
url = "https://api.fixer.io/latest?base=INR"
# Retrieve the JSON
response = urllib.request.urlopen(url)
raw_json = response.read().decode("utf-8")
# Parse the JSON
data = json.loads(raw_json)
# Display the rates data for US dollars
data["rates"]

{'AUD': 0.019736,
 'BGN': 0.024554,
 'BRL': 0.050062,
 'CAD': 0.019603,
 'CHF': 0.014444,
 'CNY': 0.097818,
 'CZK': 0.3181,
 'DKK': 0.093493,
 'EUR': 0.012555,
 'GBP': 0.011041,
 'HKD': 0.1208,
 'HRK': 0.093362,
 'HUF': 3.9281,
 'IDR': 211.17,
 'ILS': 0.053882,
 'ISK': 1.5555,
 'JPY': 1.6482,
 'KRW': 16.627,
 'MXN': 0.28672,
 'MYR': 0.060432,
 'NOK': 0.12149,
 'NZD': 0.021172,
 'PHP': 0.79997,
 'PLN': 0.05235,
 'RON': 0.058442,
 'RUB': 0.87189,
 'SEK': 0.12627,
 'SGD': 0.020406,
 'THB': 0.48546,
 'TRY': 0.058473,
 'USD': 0.015441,
 'ZAR': 0.17858}