### Lab 5 Tasks

Download the data file *election2016.csv* from Moodle and complete the steps in the cells provided below.

Step 1. Load the dataset from the CSV file using Pandas. Use the "Username" column as the row index.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("election2016.csv", index_col="Username")
df.head()

,Firstname,Lastname,Party,Tweets,Followers,Constituency
Username,,,,,,
alexwhitetd,Alex,White,Labour,NaN,6324.0,Dublin Rathdown
campaignforleo,Leo,Varadkar,Fine Gael,1844.0,NaN,Dublin West
claredalytd,Clare,Daly,Independent/Other,1984.0,13410.0,Dublin Fingal
cllrquinlivan,Maurice,Quinlivan,Sinn Fein,NaN,2936.0,Limerick City
clr_aaa,Ciaran,Leonardi Roche,People Before Profit,64.0,207.0,Cork East

Step 2. Calculate summary statistics for the dataset.

In [11]:
df.describe()

            Tweets     Followers
count    18.000000     19.000000
mean   2555.277778  13993.105263
std    2462.759184  11831.417661
min      64.000000    207.000000
25%     613.250000   4630.000000
50%    1836.500000  11806.000000
75%    4207.750000  18978.000000
max    7493.000000  43657.000000

Step 3. Find the number of missing values in each column.

In [12]:
df.isnull().sum()

Firstname       0
Lastname        0
Party           0
Tweets          7
Followers       6
Constituency    0
dtype: int64

Step 4. Replace all missing values in the "Tweets" column with the mean value for that column.

In [13]:
tweets_mean = df["Tweets"].mean()
print(tweets_mean)
df["Tweets"] = df["Tweets"].fillna(tweets_mean)
df.isnull().sum()

2555.277777777778

Firstname       0
Lastname        0
Party           0
Tweets          0
Followers       6
Constituency    0
dtype: int64

Step 5. Replace all missing values in the "Followers" column with the mean value for that column.

In [14]:
followers_mean = df["Followers"].mean()
print(followers_mean)
df["Followers"] = df["Followers"].fillna(followers_mean)

df.isnull().sum()

13993.105263157895

Firstname       0
Lastname        0
Party           0
Tweets          0
Followers       0
Constituency    0
dtype: int64

Step 6. Group the rows in the dataset based on the "Party" column, and display the sums of the groups.

In [15]:
groups = df.groupby("Party")
print(type(groups))
groups.sum()

<class 'pandas.core.groupby.DataFrameGroupBy'>

                            Tweets      Followers
Party
Fianna Fail            6016.000000   30619.105263
Fine Gael             26314.833333  135642.421053
Green Party            2555.277778   16110.000000
Independent/Other      4946.000000   49431.000000
Labour                 7861.555556   45625.105263
People Before Profit     64.000000     207.000000
Renua                  4238.000000   21330.000000
Sinn Fein              7769.277778   28791.000000
Social Democrats       4117.000000   22072.000000

Step 7. Group the rows in the dataset based on the "Constituency" column, and display the sums of the groups.

In [16]:
groups = df.groupby("Constituency")
groups.sum()

                          Tweets     Followers
Constituency
Cork East            3420.277778  25889.105263
Cork South Central   6052.555556  42425.105263
Dublin Bay South     6793.277778  37440.000000
Dublin Central      12707.000000  39848.105263
Dublin Fingal        2571.000000  22281.000000
Dublin Rathdown      5517.277778  42345.000000
Dublin West          2766.000000  29395.105263
Limerick City        4524.277778  18818.105263
Mayo                 8035.277778  59401.105263
Wicklow             11495.000000  31985.000000

In [23]:
groups = df.groupby(["Party","Constituency"])
df1=groups.sum()
df1.head()

                                     Tweets     Followers
Party       Constituency
Fianna Fail Cork South Central   942.000000  16626.000000
            Mayo                5074.000000  13993.105263
Fine Gael   Cork East            801.000000  15776.105263
            Cork South Central  5110.555556  25799.105263
            Dublin Central      7493.000000  13993.105263

In [28]:
df1.loc["Fianna Fail"].loc["Cork South Central"]

Tweets         942.0
Followers    16626.0
Name: Cork South Central, dtype: float64